$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$odd: #dddddd;
$hvr: #CDF4FF;

.hover {

  &:hover {
    background-color: $hvr;
  }
  &:nth-child(odd) {
    background-color: $odd;
    &:hover {
      background-color: $hvr;
    }
  }

}
